openapi: 3.1.0
info:
  title: Figma REST Comments Components API
  description: 'The Figma REST API enables programmatic access to Figma files, images, projects,

    comments, users, components, and variables. Wireframes and designs can be read,

    images rendered, and comments managed.

    '
  version: '1.0'
  contact:
    name: Figma
    url: https://developers.figma.com/docs/rest-api/
servers:
- url: https://api.figma.com
  description: Figma REST API production server
- url: https://api.figma-gov.com
  description: Figma REST API for Government customers
security:
- personalAccessToken: []
- oauth2: []
tags:
- name: Components
paths:
  /v1/teams/{team_id}/components:
    parameters:
    - in: path
      name: team_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Components
      summary: List team components
      operationId: listTeamComponents
      responses:
        '200':
          description: OK
  /v1/files/{file_key}/components:
    parameters:
    - in: path
      name: file_key
      required: true
      schema:
        type: string
    get:
      tags:
      - Components
      summary: List file components
      operationId: listFileComponents
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    personalAccessToken:
      type: apiKey
      in: header
      name: X-Figma-Token
      description: Personal Access Token authentication for Figma REST API
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for registered applications
      flows:
        authorizationCode:
          authorizationUrl: https://www.figma.com/oauth
          tokenUrl: https://api.figma.com/v1/oauth/token
          scopes:
            files:read: Read files
            file_comments:write: Write file comments
