openapi: 3.1.0
info:
  title: Figma REST Comments Reactions API
  description: 'The Figma REST API enables programmatic access to Figma files, images, projects,

    comments, users, components, and variables. Wireframes and designs can be read,

    images rendered, and comments managed.

    '
  version: '1.0'
  contact:
    name: Figma
    url: https://developers.figma.com/docs/rest-api/
servers:
- url: https://api.figma.com
  description: Figma REST API production server
- url: https://api.figma-gov.com
  description: Figma REST API for Government customers
security:
- personalAccessToken: []
- oauth2: []
tags:
- name: Reactions
paths:
  /v1/files/{file_key}/comments/{comment_id}/reactions:
    parameters:
    - in: path
      name: file_key
      required: true
      schema:
        type: string
    - in: path
      name: comment_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Reactions
      summary: Get reactions on a comment
      operationId: listCommentReactions
      responses:
        '200':
          description: OK
    post:
      tags:
      - Reactions
      summary: Add reaction to a comment
      operationId: addCommentReaction
      responses:
        '201':
          description: Created
    delete:
      tags:
      - Reactions
      summary: Remove reaction from a comment
      operationId: deleteCommentReaction
      responses:
        '204':
          description: No Content
components:
  securitySchemes:
    personalAccessToken:
      type: apiKey
      in: header
      name: X-Figma-Token
      description: Personal Access Token authentication for Figma REST API
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for registered applications
      flows:
        authorizationCode:
          authorizationUrl: https://www.figma.com/oauth
          tokenUrl: https://api.figma.com/v1/oauth/token
          scopes:
            files:read: Read files
            file_comments:write: Write file comments
